# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
build/
develop-eggs/
dist/
reports/
processed/
document_store/
downloads/
eggs/
vector_db/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
uploads/
*.log 